<footer class="text-white py-4 bg-orange-600">
  <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          <!-- Column 1 -->
          <div class="col">
              <h4 class="text-blue-900"><b>Your booking</b></h4>
              <hr class="border-blue-900">
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">My booking</a></li>
                  <li><a href="#" class="text-white">Agent login</a></li>
                  <h4 class="mt-2 mb--1 text-blue-900">Inspiration</h4>
                  <hr class="border-blue-900">
                  <li><a href="#" class="text-white">Explore new tours</a></li>
                  <li><a href="#" class="text-white">Where to go when</a></li>
              </ul>
          </div>
          
          <!-- Column 2 -->
          <div class="col">
              <h4 class="text-blue-900"><b>Here to help</b></h4>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">FAQs</a></li>
                  <li><a href="#" class="text-white">Travel updates</a></li>
                  <li><a href="#" class="text-white">Visa requirements</a></li>
                  <li><a href="#" class="text-white">Special assistance</a></li>
                  <li><a href="#" class="text-white">VIP travel services</a></li>
                  <li><a href="#" class="text-white">Local airport flights</a></li>
                  <li><a href="#" class="text-white">VIP Plus</a></li>
                  <li><a href="#" class="text-white">Flight upgrades</a></li>
                  <li><a href="#" class="text-white">Booking Conditions</a></li>
              </ul>
          </div>
          
          <!-- Column 3 -->
          <div class="col">
              <h4 class="text-blue-900"><b>About Twiggy Travels</b></h4>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">About us</a></li>
                  <li><a href="#" class="text-white">Career</a></li>
                  <li><a href="#" class="text-white">Special deals</a></li>
                  <li><a href="#" class="text-white">Discount packages</a></li>
              </ul>
          </div>
          
          <!-- Column 4 -->
          <div class="col">
              <h4 class="text-blue-900"><b>Get in touch</b></h4>
              <ul class="list-unstyled">
                  <li><a href="/contact" class="text-white">Contact us</a></li>
                  <li><a href="#" class="text-white">Order a brochure</a></li>
                  <div class="social-icons-footer flex justify-center items-center">
                      <a href="https://www.instagram.com/twigytravel?igsh=YTFyNDZhb3R6cTRk" class="text-white"><i class="fab fa-instagram"></i></a>
                      <a href="https://www.facebook.com/profile.php?id=100087756217898&mibextid=LQQJ4d" class="text-white"><i class="fab fa-facebook"></i></a>
                  </div>
              </ul>
          </div>
      </div>
  </div>
  <div class="container mt-4 flex justify-center items-center">
      <div class="row">
          <div class="col text-center">
              <p class="flex justify-center items-center">
                  © 2024 Twiggy Travels Ltd. All Rights Reserved |Powered by| 
                  <a href="#" class="text-blue-900"><b>Getrude Kipkemoi</b></a>
              </p>
          </div>
      </div>
  </div>
</footer>
