<div class="flex justify-center">
    <button routerLink="beach" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Beach</button>
    <button routerLink="adventure" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Adventure</button>
    <button routerLink="citybreaks" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Citybreaks</button>
</div>


<div>
    <div class="container mt-5">
        <!-- Header with Two Rows -->
        <header class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center text-center my-4 justify-center">
            <!-- First Row -->
            <div class="text-begin col-span-full md:col-span-1 mt-4 relative border border-gray-300 rounded-lg p-4 aspect-w-16 aspect-h-9">
                <h1 class="h1 text-center">Begin your Journey, Enjoy!</h1>
                <p class="mb-8">"Escape to the enchanting coast of Kenya with us, where azure waters <br>golden sands beckon. Dive into exhilarating safaris, indulge in beachside <br>bliss, and immerse yourself in the vibrant local culture. Let us whisk you away on a journey of discovery and relaxation, where every moment is filled with joy and wonder. Book now and let the magic of Kenya's coast unfold before your eyes."</p>
    
                <div class="text-center">
                    <a href="https://www.example.com" class="btn btn-dark btn-lg">Explore Available Offers</a>
                </div>
            </div>
            <div class="col-span-full md:col-span-1 mt-4 relative border border-gray-300 rounded-lg p-4 aspect-w-16 aspect-h-9">
                <!-- Placeholder image with shadow effect and reflection -->
                <div class="image-container relative">
                    <img src="../assets/img/desimages/bgmai.jpeg" class="w-full shadow-effect" alt="Placeholder Image">
                </div>
            </div>
        </header>
    </div>
    
    <!-- div column -->
    <div class="container-wonder text-center mt-5">
        <div class="container text-center justify-center d-flex">
            <h2>Journey into Kenya’s untamed wonder.</h2>
        </div>
        <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-5">
                <!-- First Row -->
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4">
                        <div class="card">
                            <img src="../assets/img/desimages/beatif.jpeg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Hells Kitchen</b></h5>
                                <p class="text-body mt-3">Journey to Hells Kitchen: stunning landscapes, vibrant culture, and endless adventure await you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4">
                        <div class="card">
                            <img src="../assets/img/desimages/park.jpeg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>National Museum</b></h5>
                                <p class="text-body mt-3">Experience Nairobi’s raw beauty; marvel at wildlife, lush landscapes. Your adventure starts here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4">
                        <div class="card">
                            <img src="../assets/img/desimages/twig.jpeg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Creek</b></h5>
                                <p class="text-body mt-3">Golden sunrises, tranquil waves, and palm-fringed horizons await. Join us on a coastal odyssey!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4">
                        <div class="card">
                            <img src="../assets/img/desimages/gabb.jpeg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Marafa Canyons</b></h5>
                                <p class="text-body mt-3">Embrace Mombasa’s serene beauty: majestic terrains, lush greenery, and tranquil skies await you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4 mt-5 md:mt-0">
                        <div class="card">
                            <img src="../assets/img/desimages/girr.jpg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Giraffe</b></h5>
                                <p>Giraffes gracefully roam, inviting you to join their wild safari adventure today.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4 mt-5 md:mt-0">
                        <div class="card">
                            <img src="../assets/img/desimages/elep.jpg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Elephant</b></h5>
                                <p>Encounter the awe-inspiring grace of elephants in their untamed realm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4 mt-5 md:mt-0">
                        <div class="card">
                            <img src="../assets/img/desimages/leo.jpg" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Leopard</b></h5>
                                <p>Discover the majestic leopard perched high, beckoning you to our wild adventure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-gray-300 rounded-lg p-4 mt-5 md:mt-0">
                        <div class="card">
                            <img src="../assets/img/desimages/lio.webp" class="card-img-top" alt="Malindi Beach Resort">
                            <div class="card-body">
                                <h5><b>Lions</b></h5>
                                <p>Lions beckon: Join our thrilling safari, where the wild roars with enchantment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Start of discover Section -->
    <div class="container vip-section mt-5">
        <div class="row">
            <div class="col-md-12 flex-column">
                <div class="description-container text-center bg-blue-100 p-8 rounded-lg">
                    <h1 class="vip-heading text-3xl font-bold mb-4">Discover the Healing Power of Beaches</h1>
                    <p class="vip-description text-lg">Let the sand cradle your feet, and the ocean’s rhythm soothe your soul. Visiting the beach isn’t just a getaway; it’s a prescription for well-being. Dive into ‘Blue Space’—where nature heals.</p>
                    <div class="text-center mt-6">
                        <a href="https://www.example.com" class="btn btn-dark btn-lg">Explore Available Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
            <h3>Malindi Beach Resort</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/voy.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Malindi & Watamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 18,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 2 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/bam.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Malindi & Watamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 3 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/ser.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Malindi & Watamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
            <h3>Diani/Ukunda</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/southern.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Diani/Ukunda</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 37,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 2 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/sea.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Diani/Ukunda</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 3 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/baobab.png" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Diani/Ukunda</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
            <h3>Mombasa North Coast</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/nap.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Mombasa North Coast</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 26,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 2 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/nap.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Mombasa North Coast</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 29,300</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 3 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/mn.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Mombasa North Coast</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 25,300</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
            <h3>Explore More</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/silver.png" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Lamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 2 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/flamingo.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Lamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- December Card 3 -->
            <div class="col-md-4">
                <div class="card hover:shake">
                    <div class="border border-gray-300 rounded-md p-4">
                        <img src="../assets/img/desimages/diamond.jpg" class="card-img-top" alt="Malindi Beach Resort">
                        <div class="trip-information">
                            <h5><b>TRIP INFORMATION</b></h5>
                            <ul class="list-styled">
                                <li><strong>Location:</strong> Lamu</li>
                                <li><strong>Duration:</strong> 3 Days</li>
                                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                                <h5 class="text-primary"><b>Starting from Ksh 36,000</b></h5>
                            </ul>
                        </div>
                        <div class="button-form mt-5">
                            <form action="https://www.example.com">
                                <button type="submit">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Testimonials Section --><!-- Testimonials Section -->
    <section class="bg-white">
        <div class="container px-4 py-5">
            <h1 class="text-center text-blue">What our <span class="text-blue">clients</span> say</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">
                <div class="col">
                    <div class="p-6 border rounded">
                        <p class="text-muted">“My wild safari experience with Twiggy Travels was nothing short of incredible! From encountering majestic wildlife to breathtaking landscapes, every moment was filled with excitement and wonder. A truly unforgettable adventure!.”</p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="rounded-full w-16 h-16 me-3" alt="Robert's Photo">
                            <div>
                                <h5 class="mb-0">Robert</h5>
                                <p class="mb-0 text-muted">CTO, Robert Consultancy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-6 border rounded">
                        <p class="text-muted">"Visiting ancient places with Twiggy Travels was like stepping back in time. The rich history and culture brought to life by knowledgeable guides made the experience truly fascinating and engaging. A must-do for history enthusiasts!"
                        </p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="rounded-full w-16 h-16 me-3" alt="Jeny Doe's Photo">
                            <div>
                                <h5 class="mb-0">Jeny Doe</h5>
                                <p class="mb-0 text-muted">CEO, Jeny Consultancy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-6 border rounded">
                        <p class="text-muted">"The customer service at Twiggy Travels exceeded all expectations. Friendly staff, personalized attention, and a genuine commitment to customer satisfaction made my trip smooth and enjoyable. I felt valued and well-cared for throughout. Highly recommended!"</p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="rounded-full w-16 h-16 me-3" alt="Ema Watson's Photo">
                            <div>
                                <h5 class="mb-0">Ema Watson</h5>
                                <p class="mb-0 text-muted">Marketing Manager at Stech</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
</div>

