<section>
  <!-- Carousel -->
  <div id="carousel-twiggy" class="carousel slide relative">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="container-fluid p-0 mx-auto h-screen relative">
                <img src="../assets/img/carw.jpg" class="w-full h-full object-cover rounded-lg" alt="..." style="border-radius: 0 0 8px 8px;">
                <div class="carousel-caption absolute bottom-0 w-full text-center" style="background-color: rgba(0, 0, 0, 0.5); bottom: 50%;">
                    <h1 class="text-6xl font-bold uppercase tracking-wide leading-18 text-white">LET US EXPLORE</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <img class="absolute left-0 top-1/3 transform -translate-y-1/2 h-64 w-auto object-cover" src="../assets/img/mom.jpg" alt="Left Image" onclick="prevSlide()">
    <img class="absolute right-0 top-1/3 transform -translate-y-1/2 h-64 w-auto object-cover" src="../assets/img/mara.jpg" alt="Right Image" onclick="nextSlide()"> -->
    <!-- <img class="absolute left-1/2 transform-translate-x-1/2 top-1/3 transform -translate-y-1/2 h-64 w-auto object-cover" src="../assets/img/carw.jpg" alt="Middle Image" onclick="nextSlide()"> -->
  </div>
</section>

<main class="hero-section bg-gray-100 py-20" id="hero-section">
  <div class="container mx-auto">
    <div class="hero-section-content" data-aos="fade-up">
      <h3 class="text-xl md:text-2xl lg:text-3xl font-bold text-center mb-4 text-orange-600 font-sans" style="text-shadow: 1px 1px px rgba(0, 0, 0, 0.5);">Embark on a Journey with Twiggy Travels: Where Adventure Meets Excellence</h3>
      <p class="text-base md:text-lg lg:text-xl text-gray-700 leading-relaxed text-center font-sans">
        At Twiggy Travels, we believe that travel is more than just a journey, it's an extraordinary adventure waiting to unfold. As a leading tour and travel company based in Kenya, we specialize in offering unmatched and affordable travel experiences tailored to meet the diverse needs of every traveler, whether you're embarking on a solo expedition, a romantic getaway, or a corporate retreat. Our commitment is clear: to ensure that each client receives exceptional service beyond compare. At Twiggy Travels, we never compromise on quality.
      </p>
    </div>
  </div>
</main>


<div class="container mt-4 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="rounded-lg overflow-hidden shadow-sm border-b border-l border-r border-gray-800 border-t-2 hover:shadow-md">
      <img src="../assets/img/coast.jpg" class="w-full h-48 object-cover" alt="Beach Front Hotel Diani">
      <div class="px-6 py-4">
        <h4 class="text-xl font-bold leading-tight text-gray-900">Beautiful Kenyan Coast</h4>
        <h5 class="text-gray-700 text-base mt-1">About the trip</h5>
        <ul class="list-disc pl-4 mt-3">
          <li>Transport NBO- DIANI - NBO</li>
          <li>Full board accommodation (breakfast, lunch, dinner)</li>
          <li>Accommodation</li>
          <li>Arrival and departure Airport transfers</li>
          <li>Professional guide</li>
        </ul>
        <a href="#" class="inline-flex items-center px-4 py-2 rounded-full bg-blue-600 text-white font-bold mt-4">See holiday details</a>
      </div>
    </div>

    <div class="rounded-lg overflow-hidden shadow-sm border-b border-l border-r border-gray-800 border-t-2 hover:shadow-md">
      <img src="../assets/img/elepha.jpg" class="w-full h-48 object-cover" alt="Wild Maasai Mara">
      <div class="px-6 py-4">
        <h4 class="text-xl font-bold leading-tight text-gray-900">Wild Maasai Mara</h4>
        <h5 class="text-gray-700 text-base mt-1">About the trip</h5>
        <ul class="list-disc pl-4 mt-3">
          <li>Professional Tour Guide</li>
          <li>Transport NBO- Maasai Mara - NBO</li>
          <li>Full board accommodation (breakfast, lunch, dinner)</li>
          <li>Arrival and departure Airport transfers</li>
        </ul>
        <a href="#" class="inline-flex items-center px-4 py-2 rounded-full bg-blue-600 text-white font-bold mt-4">See holiday details</a>
      </div>
    </div>

    <div class="rounded-lg overflow-hidden shadow-sm border-b border-l border-r border-gray-800 border-t-2 hover:shadow-md">
      <img src="../assets/img/girr.png" class="w-full h-48 object-cover" alt="Scenic Kenya Safari">
      <div class="px-6 py-4">
        <h4 class="text-xl font-bold leading-tight text-gray-900">Scenic Kenya Safari</h4>
        <h5 class="text-gray-700 text-base mt-1">About the trip</h5>
        <ul class="list-disc pl-4 mt-3">
          <li>Government statutory taxes</li>
          <li>Transport in a Safari Land Cruiser</li>
          <li>Full board accommodation (breakfast, lunch, dinner)</li>
          <li>Arrival and departure Airport transfers</li>
        </ul>
        <a href="#" class="inline-flex items-center px-4 py-2 rounded-full bg-blue-600 text-white font-bold mt-4">See holiday details</a>
      </div>
    </div>
  </div>
</div>

<!-- "See More" button -->
<div class="text-center mt-8">
  <a href="#" class="inline-block px-6 py-3 rounded-md bg-blue-600 text-white font-bold hover:bg-blue-400 transition duration-300">See More</a>
</div>

<section>

<!-- COLOURED LINE -->
<div class="colored-line-container">
  <hr class="colored-line">
</div>

<!-- Popular Now Section -->
<main class="hero-section bg-gray-100 py-20" id="hero-section">
  <div class="container mx-auto text-center">
      <div class="hero-section-content" data-aos="fade-up">
          <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-orange-600 shadow-md">Popular Now</h3>
      </div>
  </div>
</main>

<div class="container mt-4 mx-auto">
  <!-- Main Card to enclose Popular Now Cards -->
  <div class="rounded-lg overflow-hidden shadow-md borderborder-gray-800 border-white">
    <!-- Popular Now Cards -->
    <div class="container mt-1 popular-now-cards">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center">
        <!-- Popular Now Card 1 -->
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full">
          <img src="../assets/img/malindi.jpg" class="w-full h-100 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <a href="#" class="block w-full bg-blue-600 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">Book Now</a>
          </div>
        </div>
        <!-- Repeat for Card 2 and Card 3 -->
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full">
          <img src="../assets/img/malindi.jpg" class="w-full h-100 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <a href="#" class="block w-full bg-blue-600 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">Book Now</a>
          </div>
        </div>
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full">
          <img src="../assets/img/malindi.jpg" class="w-full h-100 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <a href="#" class="block w-full bg-blue-600 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COLOURED LINE -->
<div class="colored-line-container">
  <hr class="colored-line">
</div>

<!-- Travel in December -->
<main class="hero-section bg-gray-100 py-20" id="hero-section">
  <div class="container mx-auto text-center">
    <div class="hero-section-content" data-aos="fade-up">
      <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-orange-600 shadow-md"><b>Travel in December</b></h3>
    </div>
  </div>
</main>

<!-- December Cards -->
<div class="container mt-4 mx-auto">
  <!-- Main Card to enclose Popular Now Cards -->
  <div class="rounded-lg overflow-hidden shadow-md borderborder-gray-800 border-white">
    <!-- December Card 1 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center">
      <!-- December Card 1 -->
      <div class="col-md-4">
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800">
          <img src="../assets/img/mara.jpg" class="w-full h-56 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <h3 class="font-bold">Wild Africa</h3>
            <p>Embark on a thrilling adventure through steamy jungles and vast wildlife-dotted plains.</p>
          </div>
        </div>
      </div>
      <!-- December Card 2 -->
      <div class="col-md-4">
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800">
          <img src="../assets/img/santorini1.jpg" class="w-full h-48 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <h3 class="font-bold">Incredible Europe</h3>
            <p>From ancient wonders of Santorini, Discover a land steeped in rich history and adorned with breathtaking vistas.</p>
          </div>
        </div>
      </div>
      <!-- December Card 3 -->
      <div class="col-md-4">
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-800">
          <img src="../assets/img/egypt.png" class="w-full h-48 object-cover" alt="Malindi Beach Resort">
          <div class="px-6 py-4">
            <h3 class="font-bold">Extraordinary Egypt</h3>
            <p>Explore the majestic pyramids, the mysteries of the Nile River, and immerse yourself in the vibrant tapestry of Egypt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- "See More" button -->
 <div class="text-center mt-8">
  <a href="#" class="inline-block px-6 py-3 rounded-md bg-blue-600 text-white font-bold hover:bg-blue-400 transition duration-300">See More</a>
</div>

<!-- Start of VIP Section -->
<div class="container vip-section mt-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="col-span-3 flex flex-col justify-center items-center">
          <!-- Formatted Card -->
          <div class="mx-auto border border-gray-300 rounded-lg p-8 mt-4 text-center" style="background-color: #b16a52cb; width: 80%; border-radius: 20px; font-family: 'Arial', sans-serif;">
              <h3 class="text-blue-900 text-5xl font-bold mb-6">VIP Transfers Included on Every Tour</h3>
              <p class="text-blue-900 mb-6 text-lg">It's a little extra touch that makes the start and end of your holiday as easy as the rest of the trip.</p>
              <div class="text-center">
                  <a href="#" class="inline-block px-8 py-3 rounded-md bg-blue-600 text-white font-bold text-lg hover:bg-blue-400 transition duration-300">See More</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="relative">
  <main class="hero-section bg-gray-100 py-20" id="hero-section">
    <div class="container mx-auto text-center">
        <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-orange-600 shadow-md"><b>Reflecting on 2023 Adventures</b></h3>
    </div>
  </main>
</div>


<div class="container mt-4 mx-auto" style="scroll-behavior: smooth;">
  <!-- Main Card to enclose Popular Now Cards -->
  <div class="container mt-1">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center">
      <!-- Card 1: Greece -->
      <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full card-hover-slide-up">
        <img src="../assets/img/santorini.jpg" class="w-full h-100 object-cover" alt="Beach Front Hotel Diani">
        <div class="px-6 py-4">
          <h4 class="font-bold">Trips in 2023 Greece</h4>
          <a href="#" class="block w-full bg-blue-600 text-white text-center py-2 px-4 rounded">See holiday details</a>
        </div>
      </div>
      <!-- Card 2: Maldives -->
      <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full card-hover-slide-up">
        <img src="../assets/img/maldives.jpg" class="w-full h-100 object-cover" alt="Wild Maasai Mara">
        <div class="px-6 py-4">
          <h4 class="font-bold">Trips in 2023 Maldives</h4>
          <a href="#" class="block w-full bg-blue-600 text-white text-center py-2 px-4 rounded">See holiday details</a>
        </div>
      </div>
      <!-- Card 3: Coast Kenya -->
      <div class="rounded-lg overflow-hidden shadow-md border border-gray-800 h-full card-hover-slide-up">
        <img src="../assets/img/kdcoast.jpg" class="w-full h-100 object-cover" alt="Scenic Kenya Safari">
        <div class="px-6 py-4">
          <h4 class="font-bold">Trips in 2023 Coast Kenya</h4>
          <a href="#" class="block w-full bg-blue-600 text-white text-center py-2 px-4 rounded">See holiday details</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Registration box -->
<div class="container-register flex items-center justify-center p-4 mt-5 text-center bg-cover bg-center" style="background-image: url(https://a.storyblok.com/f/108167/1439x360/e2af723c9c/newsletter.jpg);">
  <div class="registration-box mt-3 w-full max-w-2xl border border-gray-300 rounded-xl bg-white shadow-lg p-8">
    <h2 class="mb-4 text-3xl font-bold text-gray-800">Travel with Us Now</h2>
    <hr class="w-4/5 mx-auto border-t border-gray-300 mb-6">
    <p class="mb-4 text-gray-700">Subscribe to our newsletter for holiday inspiration and the latest special offers</p>
    <!-- Form -->
    <form id="myForm" onsubmit="return validateForm()" class="text-left">
      <div class="form-group mb-4 text-center">
        <label for="username" style="font-weight: 600;" class="block mb-1 text-gray-800 text-lg">Username:</label>
        <input type="text" id="username" name="username" required autocomplete="username" class="w-full md:w-4/5 border border-gray-300 rounded-md py-2 px-3 box-border focus:outline-none focus:border-blue-500">
      </div>
      <div class="form-group mb-4 text-center">
        <label for="email" style="font-weight: 600;" class="block mb-1 text-gray-800 text-lg">Email:</label>
        <input type="email" id="email" name="email" required autocomplete="email" class="w-full md:w-4/5 border border-gray-300 rounded-md py-2 px-3 box-border focus:outline-none focus:border-blue-500">
      </div>
      <div class="form-group mb-4 text-center">
        <label for="password" style="font-weight: 600;" class="block mb-1 text-gray-800 text-lg">Password:</label>
        <input type="password" id="password" name="password" required autocomplete="new-password" class="w-full md:w-4/5 border border-gray-300 rounded-md py-2 px-3 box-border focus:outline-none focus:border-blue-500">
      </div>
      <button type="submit" class="btn-primary bg-blue-500 hover:bg-blue-600 text-white border-none py-2 px-4 rounded-md cursor-pointer mb-6 mx-auto block">Submit</button>
    </form>
  </div>
</div>
